body{
    background-color: yellow;
    color: red;
}

table{
    border: solid black 5px;
}

div{
    background-color:yellow;   
}

button{
    border: solid black 3px;
    background-color: red;
    color:white;
}
